---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Blog";
const description = "Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.";
---

<BaseLayout pageTitle={pageTitle} description={description}>
	<p>{description}</p>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title}/>
			))
		}
	</ul>
</BaseLayout>
